#title {
	text-align: center;
}

button {
	margin: auto;
}

.color-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 310px;
	margin: auto;
}

.color-container div {
	width: 100px;
	height: 100px;
	margin: 2px;
	background-color: blue;
}

#hiddenPG,
#sliderPrompt {
  text-align: center;
}

.sliders button {
	display: grid;
	margin-top: 50px;
}

.sliders .colorName,
.sliders .colorDisplay,
#redInput,
#greenInput,
#blueInput {
	display: grid;
	margin: auto;
	margin-top: 10px;
	max-width: 300px;
}
.colorName {
	margin-bottom: 1px;
}

#redDisplay {
	width: 25px;
	height: 25px;
}

#blueDisplay {
	width: 25px;
	height: 25px;
}

#greenDisplay {
	width: 25px;
	height: 25px;
}

#submit {
	margin-bottom: 50px;
}

.slider {
	margin-top: 5px;
	margin-bottom: 30px;
}

.colorDisplay {
	margin-top: 0px;
}

span {
	margin: auto;
	font-size: 15px;
}

#redName {
	background-color: red;
	width: 50px;
}

#greenName {
	background-color: green;
	width: 50px;
}

#blueName {
	background-color: blue;
	width: 50px;
}

.colorName {
	color: white;
	padding: 5px;
	border-radius: 25%;
}




@media (min-width: 700px) {
  main {
    column-count: 2;
	}
}