#title {
	text-align: center;
}

button {
	margin: auto;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 310px;
	margin: auto;
}

main div {
	width: 100px;
	height: 100px;
	margin: 2px;
	background-color: blue;
}

footer button {
	display: grid;
	margin-top: 50px;
}